.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mainContainer {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  color: #000;
}

.inputForm {
  width: 80%;
  margin-top: 2rem;
}

.mensagem {
  text-align: left;
  margin-top: 2rem;
}
